body {
    text-align: center;
    background-color: #EFEFEF;
    color: #EFEFEF;
}

h1 {
  color: #424242;
  margin-top: 200px;
  font-style: italic;
}

.setters, .clock {
  width: 440px;
  margin: 0 auto;
  background-color: #333333;
}

.clock {
  margin-top: 20px;
}

.session, .break {
  width: 50%;
  display: block;
  float: left;
}

.clearer {
  clear: both;
  height: 20px;
}

#indicator {
  padding: 20px 0;
}

#clock {
  padding-bottom: 20px;
  font-size: 2em;
}

.controls {
  padding-bottom: 20px;
}

.btn {
  margin: 0 20px;
  display: inline-block;
  cursor: pointer;
}

i:hover {
  color: #FFD900;
}

.setter-controls span > i:hover {
  color: #00CCD6;
}

#session-time, #break-time {
  display: inline-block;
  width: 20px;
}

/* {
  border: 1px dashed black;
}*/
