body {
  text-align: center;
}

h1 {
  font-style: italic;
}

#session, #break {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

#clock {
  height: 250px;
  width: 250px;
  border-radius: 125px;
  background-color: yellow;
}

.session-break {
  width: 606px;
  margin: 0 auto;
  height: 200px;
  margin-bottom: 54px;
}

#session {
  display: block;
  float: left;
  background-color: green;
}

#session p, #break p {
  margin-bottom: 24px;
}

#break {
  display: block;
  float: right;
  background-color: red;
}

#clock {
  margin: 0 auto;
}

#time-session, #time-break {
  margin: 20px 0;
}

#up-session,
#up-break,
#down-session,
#down-break {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  margin: 0 auto;
}

#up-session,
#up-break {
  border-bottom: 20px solid black;
}

#up-session:hover,
#up-break:hover {
  border-bottom: 20px solid gray;
}

#down-session,
#down-break {
  border-top: 20px solid black;
}

#down-session:hover,
#down-break:hover {
  border-top: 20px solid gray;
}

.clock-controls {
  width: 40px;
  height: 40px;
  background-color: black;
  margin-bottom: 5px;
}

.clock-controls:hover {
  background-color: gray;
}

/*
.l-bond, .r-bond {
  background-color: gray;
  height: 50px;
  width: 300px;
}

.l-bond {
  float: left;
  transform: rotate(52deg);
  margin-left: 650px;
}

.r-bond {
  float: right;
  transform: rotate(-52deg);
  margin-right: 650px;
}
*/

/** {
  border: 1px solid black;
}*/
